HTTP 307. duplicate normative statements

## I expect

- no duplicate normative statements
- state the normative sentences first,  and once
- then explain

```
An AS which redirects a request that potentially contains user
credentials MUST NOT use the 307 status code (see {{Section 15.4.8 of RFC9110}}) for
redirection.

The RECOMMENDED status code for HTTP redirects is 303.

...
```
## Instead

```
If an HTTP redirection (and not, for example,
JavaScript) is used for such a request, AS SHOULD use the status
code 303 "See Other".
...
Therefore, the RECOMMENDED status code for HTTP redirects is 303.
```

